.chart {
  padding: 1rem;
  border-radius: 12px;
  background-color: #A09EBB;
  text-align: center;
  display: flex;
  justify-content: space-around;
  height: 10rem;
  box-shadow: 0 1px 8px rgb(0 0 0 / 25%);
}
